# Banco de Dados
DATABASE_URL="postgresql://postgres:senha@localhost:5432/pomi?schema=public"
POSTGRES_PASSWORD=senha
POSTGRES_DB=pomi
POSTGRES_USER=postgres
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=senha
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=troque_esta_senha

# Servidor
PORT=3000
NODE_ENV=development

# CORS
CORS_ORIGIN=*

# Opcional, desabilita autenticação somente em desenvolvimento
DISABLED_AUTH=true

# Keycloak
KEYCLOAK_ISSUER=http://localhost:8080/realms/pomi
KEYCLOAK_AUDIENCE=pomi-api
