node_modules/

dist/

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
.local
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.docker.env

# caches
.eslintcache
.cache
*.tsbuildinfo

packages/db/prisma/generated
packages/db/prisma/seed.json

data/
!packages/data/
bun.lock
test
packages/*/test/
packages/*/test/**
!packages/injection/test/
packages/injection/test/**
!packages/injection/test/daily-menus-injection.test.ts
!packages/injection/test/course-code.test.ts
